<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button slot="start"></ion-menu-button>
    </ion-buttons>
    <ion-title>Faculty Staff Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-card *ngFor="let faculty of facultyList" color="primary">
    <span *ngIf="!faculty.isEdit; else elseBlock">
      <ion-card-header>
        <ion-card-title>{{faculty.Name}}</ion-card-title>
        <ion-card-subtitle>Email: {{faculty.Email}}</ion-card-subtitle>
        <ion-card-subtitle>Gender: {{faculty.Gender}}</ion-card-subtitle>        
        <ion-card-subtitle>Phone Number: {{faculty.PhoneNum}}</ion-card-subtitle>
        <ion-card-subtitle>Faculty: {{faculty.Faculty}}</ion-card-subtitle>
        <ion-card-subtitle>Campus: {{faculty.Campus}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>

        <ion-button shape="round" color="danger" size="small" (click)="EditRecord(faculty)">
          <h2 color="secondary">Edit Profile</h2>
          <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
        </ion-button><br>
        
      </ion-card-content>
    </span>
    <ng-template #elseBlock>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                Edit
              </ion-col>
              <ion-col>
                <ion-button fill="solid" color="medium" size="small" (click)="faculty.isEdit = false">
                  Cancel
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="solid" color="success" size="small" (click)="UpdateRecord(faculty)">
                  Update
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <ion-item>
          <ion-label><strong>Phone</strong></ion-label>
          <ion-input type="tel" [(ngModel)]="faculty.EditPhone"></ion-input>
        </ion-item>

      </ion-card-content>
    </ng-template>
  </ion-card>

</ion-content>
