<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button slot="start"></ion-menu-button>
    </ion-buttons>
    <ion-title>Issue</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-button align="left" (click)="CreateIssue()">New Issue</ion-button>

  <ion-row class="header-row">
    

    <ion-col size="3">
      Counsellor Name
    </ion-col>

    <ion-col size="4">
      Date
    </ion-col>

    <ion-col size="5">
      Message
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let row of issueList" class="data-row">
    

    <ion-col size="3">
      {{row.counName}}
    </ion-col>

    <ion-col size="4">
      {{row.Date | date:'fullDate'}}
    </ion-col>

    <ion-col size="5">
      {{row.Message}}
    </ion-col>
  </ion-row>
</ion-content>
