<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button slot="start"></ion-menu-button>
    </ion-buttons>
    <ion-title>Appointment</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button align="left" (click)="CreateAppointment()">New Appointment</ion-button>
  <br>
  <button class="accordion">Approved Appointment</button>
  <div class="panel">
    <ion-row class="header-row">
      <ion-col size="4">
        Email
      </ion-col>
  
      <ion-col size="2">
        Counsellor Name
      </ion-col>
  
      <ion-col size="4">
        Date
      </ion-col>
  
      <ion-col size="2">
        Time
      </ion-col>
    </ion-row>
  
    <ion-row *ngFor="let row of approve_appList" class="data-row">
      <ion-col size="4">
        {{row.Email}}
      </ion-col>
  
      <ion-col size="2">
        {{row.counName}}
      </ion-col>
  
      <ion-col size="4">
        {{row.Date | date:'fullDate'}}
      </ion-col>
  
      <ion-col size="2">
        {{row.Time}}
      </ion-col>
    </ion-row>
  </div><br>

  <br><button class="accordion">Not Approved Yet</button>
  <div class="panel">
    <ion-row class="header-row">
      <ion-col size="4">
        Email
      </ion-col>
  
      <ion-col size="2">
        Counsellor Name
      </ion-col>
  
      <ion-col size="4">
        Date
      </ion-col>
  
      <ion-col size="2">
        Time
      </ion-col>
    </ion-row>
  
    <ion-row *ngFor="let row of not_approve_appList" class="data-row">
      <ion-col size="4">
        {{row.Email}}
      </ion-col>
  
      <ion-col size="2">
        {{row.counName}}
      </ion-col>
  
      <ion-col size="4">
        {{row.Date | date:'fullDate'}}
      </ion-col>
  
      <ion-col size="2">
        {{row.Time}}
      </ion-col>
    </ion-row>
  </div><br>

  <br><button class="accordion">Attended Appointment</button>
  <div class="panel">
    <ion-row class="header-row">
      <ion-col size="4">
        Email
      </ion-col>
  
      <ion-col size="2">
        Counsellor Name
      </ion-col>
  
      <ion-col size="4">
        Date
      </ion-col>
  
      <ion-col size="2">
        Time
      </ion-col>
    </ion-row>
  
    <ion-row *ngFor="let row of attendance_appList" class="data-row">
      <ion-col size="4">
        {{row.Email}}
      </ion-col>
  
      <ion-col size="2">
        {{row.counName}}
      </ion-col>
  
      <ion-col size="4">
        {{row.Date | date:'fullDate'}}
      </ion-col>
  
      <ion-col size="2">
        {{row.Time}}
      </ion-col>
    </ion-row>
  </div>

</ion-content>
